body {
  background-color: #FFB473;
  margin: 0;
    font-family: 'Fredoka One', cursive;
}
.content{
  height: 50px;
  background-color: #2A4380;
    border-radius: 12px 12px 0 0;

}

.final__dropdown{
  float: right;
  position: relative;
  margin: 10px;
  display: inline-block;
}
  .final__dropdown__hover{
    display: inline-block;
    padding: 10px;
    background-color:#323b40;
    color: #ffffff;
    border:0 solid #323b40;
    cursor: pointer;
  }
  .final__dropdown__hover:hover{background-color: #222222;}
  .final__dropdown__menu{
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    min-width: 200px;
    background-color: #ffffff;
    color: #323b40;
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
  }
  .final__dropdown:hover .final__dropdown__menu{display: block;}
    .final__dropdown__menu a{
      display: block;
      padding: 10px;
      text-decoration: none;
      border-width: 0;
      border-top: 1px solid #e0e0e0;
    }
    .final__dropdown__menu a:hover{
      background-color:#f0f0f0;
      color: #323b40;
    }


header {
  background-color: #FF9840	;
  width: 100%;
  height: 75px;
  margin: 0;
}
.logo img{
  width: 110px;
  height: 75px;
}
footer {

  background-color: #FF9840	;
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0%;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

}

.container {
  background-color: #FF9840;
  width: 400px;
  height: 200px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 3% 1% 1% 1%;
  box-shadow: 0 0 8px;
  position: relative;
  text-transform: uppercase;
  transition: 0.4s;
  border-radius: 12px;
}

.container a {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 5px;
  color: #000;
  text-decoration: none;
}

.container:hover{
  transform: scale(0.9);
}
.preloader{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #FFB473;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  visibility: visible;
}

.logopreload{
  width: 110px;
  height: 75px;
}

.loading-bar{
  width: 130px;
  height: 2px;
  background: #cfcfcf;

  position: relative;
  overflow: hidden;
}

.loading-bar::before{
  content: "";
  width: 68px;
  height: 2px;
  background: #0073b1;
  position: absolute;
  left: -34px;
  animation: bluebar 1.5s infinite ease;
}

@keyframes bluebar {
  50%{
    left: 96px;
  }
}

.done{
  opacity: 0;
  visibility: hidden;
}
